@font-face {
  font-family: "PlaceBold";
  src: url("fonts/Bold_web_0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.roboto-new {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    font-family: 'Roboto';
    background-color: #111111;
    margin: 0;
}

.header{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    min-height: fit-content;
    z-index: 999;
    background-color: #111111;
}
#runn {
    display: flex;
    color:  azure;
    font-size: 6vh;
    justify-content: center;
    font-weight: bold;
}
#laps{
    display: flex;
    justify-content: center;
    color:  azure;
    font-size: 6vh;
    font-weight: bold;
}
.status{
    display: flex;
    justify-content: space-around;
    color: azure;
}
.status--live{
    background-color: red;
}
.status--local{
    background-color: darkgray;
}
ul{
    list-style-type: none;
    padding: 5vh;
}
#leaderboard_cont{
    margin: 18vh auto 0;
}
.position_tag {
    display: flex;
    color:azure;
    text-align: center;
    padding-left: 6vw;
    font-family: "PlaceBold";
}
.Driver_name{
    display: flex;
    color:azure;
    text-align: center;
    padding-left: 10vw;
}
.info_cont{
    display: flex;
    text-align: center;
    justify-content: flex-end;
    flex: 1;
}
.delta{
    display: flex;
    color:azure;
    text-align: center;
}

.Leaderboard_spot{
    display: flex;
    outline-color: azure;
    outline-width: 3px;
    outline-style: outset;
    min-height: 10vh;
    margin-bottom: 2vh;
    min-width: 90vh;
    color: azure;
    justify-content: flex-start;
    align-items: center;
    font-size: 4vh;
    font-weight: 600;
}
.playoff_spot{
    outline-color: #FFC72C;
}